<!--BEGIN TOPNAV-->
      <div class="container">
        <div class="row row-col-2">
          <div class="col">
            <a href="#">
              <img
                id="airbnb-logo"
                src="images/logo-airbnb.png"
                alt="Airbnb log"
            /></a>
          </div>
          <div class="col text-end">
            <a href="a" type="button" class="btn btn-outline-dark">
              <img
                id="avatar-img"
                src="images/jnelsonavatar.png"
                alt="avatar image"
              />Jamie Nelson
            </a>
            <a href="a" type="button" class="btn btn-outline-dark">Logout</a>
          </div>
        </div>
      </div>
    <!--END TOPNAV-->
