<!--BEGIN TOPNAV-->

      <div class="container">
        <div class="row row-col-2">
          <div class="col">
            <a href="/houses">
              <img
                id="airbnb-logo"
                src="/images/logo-airbnb.png"
                alt="Airbnb logo"
            /></a>
          </div>
          <div class="col text-end">
						{{#if user}}
            <a href="/profile" type="button" class="btn btn-outline-dark">
              <img
                id="avatar-img"
                src="{{user.avatar}}"
                alt="avatar image"
              />{{user.name}}
            </a>
            <a href="/auth/logout" class="btn btn-outline-dark">Logout</a>
          </div>
					{{else}}
					<a href="/auth/login" class="btn btn-outline-dark">Login</a>
					{{/if}}
        </div>
      </div>
    <!--END TOPNAV-->
