<nav class="mb-3">{{> navbar}}</nav>
<div class="container">
      <div class="alert alert-danger" role="alert">
        {{message}}
      </div>
      <p>
      {{error.stack}}
      </p>
    </div>
