<!--START FORM-->
    <div class="container py-4">
      <div class="card text-left min-vw-25" id="logincard">
        <div class="card-body">
          <a href="#" class="d-flex justify-content-center"
            ><img
              id="airbnb-logo"
              src="images/logo-airbnb.png"
              alt="Airbnb logo"
          /></a>
          <form>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label"
                >Email address</label
              >
              <input
                type="email"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
              />
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label"
                >Password</label
              >
              <input
                type="password"
                class="form-control"
                id="exampleInputPassword1"
              />
            </div>

            <button class="btn btn-success">Submit</button>
            <p>New to Airbnb? <a href="#">Signup</a></p>
          </form>
        </div>
      </div>
    </div>

    <!--END FORM-->
