<nav class="mb-3">{{> navbar}}</nav>
<div class="container py-4">
      <div class="row row-cols-2">
        <div class="col">
          <form>
            <p class="h2 border-bottom">Profile</p>
            <div class="mb-3 text-left">
              <label for="full-name" class="form-label">Name</label>
              <input
                type="text"
                class="form-control"
                id="full-name"
                placeholder="Jamie Nelson"
              />
            </div>
            <div class="mb-3 text-left">
              <label for="full-name" class="form-label">Email</label>
              <input
                type="email"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                placeholder="jamie@jetwithjamie.com"
              />
            </div>
            <div class="mb-3 text-left">
              <label for="profile" class="form-label">Profile Picture</label>
            </div>
            <div class="mb-3 text-left">
              <img
                id="avatar-img"
                src="images/jnelsonavatar.png"
                alt="avatar image"
              />
            </div>
            <input
              type="text"
              class="form-control"
              id="full-name"
              placeholder="https://photolocation.com"
            />

            <button type="button" class="btn btn-success">Save Changes</button>
          </form>
        </div>
        <div class="col">
          <p class="h2 border-bottom">My Listings</p>
          <button type="button" class="btn btn-success">List a House</button>
        </div>
      </div>
    </div>

    <!--END PROFILE SECTION-->
