<!--START FORM-->

    <div class="card min-vw-25" id="signupcard">
      <div class="card-body">
        <a href="#" class="d-flex justify-content-center"
          ><img
            class="text-center"
            id="airbnb-logo"
            src="images/logo-airbnb.png"
            alt="Airbnb log"
        /></a>
        <form>
          <div class="mb-3 text-left">
            <label for="full-name" class="form-label">Your Full Name</label>
            <input type="text" class="form-control" id="full-name" />
          </div>
          <div class="mb-3 text-left">
            <label for="image-input" class="form-label">Profile Picture</label>
            <input
              type="text"
              class="form-control"
              id="full-name"
              placeholder="https://"
            />
          </div>
          <div class="mb-3 text-left">
            <label for="exampleInputEmail1" class="form-label"
              >Email address</label
            >
            <input
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
            />
          </div>
          <div class="mb-3 text-left">
            <label for="exampleInputPassword1" class="form-label"
              >Password</label
            >
            <input
              type="password"
              class="form-control"
              id="exampleInputPassword1"
            />
          </div>

          <button type="button" class="btn btn-success text-left">
            Signup
          </button>
          <p>Already have an account? <a href="#">Login</a></p>
        </form>
      </div>
    </div>

    <!--END FORM-->
