<!-- VERSION 1 BLANK FORM -->
	<div class="container">
		<form>
			<p class="h1">List a House</p>
			<div class="mb-3">
				<label for="title" class="form-label">Short Title</label>
				<input class="form-control" name="title" />
			</div>
			<div class="mb-3">
				<label for="description" class="form-label">Description</label>
				<textarea class="form-control" name="description" rows="6"></textarea>
			</div>
			<div class="mb-3">
				<label for="title" class="form-label">Number of Rooms</label>
				<input class="form-control" name="number-of-rooms" />
			</div>
			<div class="mb-3">
				<label for="title" class="form-label">Location</label>
				<select
					class="form-select"
					aria-label="Default select example"
					name="location"
				>
					<option value="1">Koh Phangan</option>
					<option value="2" selected>Koh Samui</option>
					<option value="3">Bali</option>
				</select>
			</div>
			<div class="col-auto">
				<label for="title" class="form-label">Price (per night)</label>
				<div class="input-group">
					<div class="input-group-text">
						<i class="fa-sharp fa-solid fa-dollar-sign"></i>
					</div>
					<input
						type="text"
						class="form-control"
						id="autoSizingInputGroup"
						name="price"
					/>
				</div>
			</div>

			<div class="mb-3">
				<label for="formFile" class="form-label">Add Photos (up to 9)</label>
				<input
					class="form-control"
					for="img-link"
					name="photos"
					placeholder="https://..."
				/>
				<input
					class="form-control"
					for="img-link"
					name="photos"
					placeholder="https://..."
				/>
				<input
					class="form-control"
					for="img-link"
					name="photos"
					placeholder="https://..."
				/>
				<input
					class="form-control"
					for="img-link"
					name="photos"
					placeholder="https://..."
				/>
				<input
					class="form-control"
					for="img-link"
					name="photos"
					placeholder="https://..."
				/>
				<input
					class="form-control"
					for="img-link"
					name="photos"
					placeholder="https://..."
				/>
				<input
					class="form-control"
					for="img-link"
					name="photos"
					placeholder="https://..."
				/>
				<input
					class="form-control"
					for="img-link"
					name="photos"
					placeholder="https://..."
				/>
				<input
					class="form-control"
					for="img-link"
					name="photos"
					placeholder="https://..."
				/>
			</div>
			<button class="btn btn-success">Submit</button>
		</form>
	</div>
	<!--END FORM-->
	<!--END OF VERSION 1 BLANK FORM
