<nav class="mb-3">{{> navbar}}</nav>
<!--VERSION 2 COMPLETED FORM-->
<div class="container">
	<form>
		<p class="h1">Edit House</p>
		<div class="mb-3">
			<label for="title" class="form-label">Short Title</label>
			<input
				class="form-control"
				name="title"
				placeholder="Luxury Villa in Canggu"
			/>
		</div>
		<div class="mb-3">
			<label for="description" class="form-label">Description</label>
			<textarea class="form-control" name="description" rows="6">
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris	nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</textarea
			>
		</div>
		<div class="mb-3">
			<label for="title" class="form-label">Number of Rooms</label>
			<input class="form-control" name="number-of-rooms" placeholder="4" />
		</div>
		<div class="mb-3">
			<label for="title" class="form-label">Location</label>
			<select
				class="form-select"
				aria-label="Default select example"
				name="location"
			>
				<option value="1">Koh Phangan</option>
				<option value="2">Koh Samui</option>
				<option value="3" selected>Bali</option>
			</select>
		</div>
		<div class="col-auto">
			<label for="title" class="form-label">Price (per night)</label>
			<div class="input-group">
				<div class="input-group-text">
					<i class="fa-sharp fa-solid fa-dollar-sign"></i>
				</div>
				<input
					type="text"
					class="form-control"
					id="autoSizingInputGroup"
					name="price"
				/>
			</div>
		</div>

		<div class="mb-3">
			<label for="formFile" class="form-label">Add Photos (up to 9)</label>
			<input
				class="form-control"
				for="img-link"
				name="photos"
				placeholder="https://..."
			/>
			<input
				class="form-control"
				for="img-link"
				name="photos"
				placeholder="https://..."
			/>
			<input
				class="form-control"
				for="img-link"
				name="photos"
				placeholder="https://..."
			/>
			<input
				class="form-control"
				for="img-link"
				name="photos"
				placeholder="https://..."
			/>
			<input
				class="form-control"
				for="img-link"
				name="photos"
				placeholder="https://..."
			/>
			<input
				class="form-control"
				for="img-link"
				name="photos"
				placeholder="https://..."
			/>
			<input
				class="form-control"
				for="img-link"
				name="photos"
				placeholder="https://..."
			/>
			<input
				class="form-control"
				for="img-link"
				name="photos"
				placeholder="https://..."
			/>
			<input
				class="form-control"
				for="img-link"
				name="photos"
				placeholder="https://..."
			/>
		</div>
		<button class="btn btn-success">Submit</button>
	</form>
</div>

<!--END OF VERSION 2 COMPLETED FORM-->
